<!-- Top Navigation -->
<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
        <!--Toggle icon for mobile view-->
        <a class="navbar-toggle hidden-sm hidden-md hidden-lg" href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse">
            <i class="fa fa-bars"></i>
        </a>
        <!-- Logo -->
        <div class="top-left-part">
            <a class="logo" href="#">
                <!-- Logo icon Image-->
                <b>
                    <img src="#" />
                </b>
                <!-- Logo text Image-->
                <span>
                    <img src="#" />
                </span>
            </a>
        </div>
        <!-- /Logo-->
        <!--Search input and toggle button-->
        <ul class="nav navbar-top-links navbar-left hidden-xs active">
            <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light">
                <i class="glyphicon glyphicon-search"></i></a></li>
            <li class="in">
                <form role="search" class="app-search hidden-xs"><input type="text" placeholder="Search.." class="form-control" /><a href="" class="active"><i class="glyphicon glyphicon-search"></i></a>
                </form>
                <!-- This is the message dropdown -->
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <!-- Message Area -->
                    <li class="dropdown m-r-30">
                        <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#">
                            <i class="glyphicon glyphicon-envelope"></i>

                            <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
                        </a>
                        <!-- Dropdown message -->
                        <ul class="dropdown-menu mailbox">
                            <li>
                                <div class="drop-title"> You have 3 new messages</div>
                            </li>
                            <li>
                                <div class="message-center">
                                    <a href="#">
                                        <div class="user-img"><img src="#" class="img-circle" /> <span class="profile-status online pull-right"></span></div>

                                        <div class="mail-contnet">
                                            <h5></h5>
                                            <span class="mail-desc">You Have a new message</span>
                                            <span class="time">11.30am</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li><a class="text-center" href="javascript:void(0);" <strong>Other messages</strong><i class="fa fa-angle-right"></i></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>